---
const newUrl = 'https://taxfreesalaries.com/guides/gratuity-end-of-service-explained/';
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Redirecting</title>
  <link rel="canonical" href={newUrl} />
  <meta http-equiv="refresh" content={`0;url=${newUrl}`} />
  <meta name="robots" content="noindex, follow" />
</head>
<body><p>This page has moved to <a href={newUrl}>{newUrl}</a>.</p></body>
</html>
